<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Guest.DocumentDb.AuthKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="Guest.DocumentDb.RuThroughput" value="400" />
    <add key="Guest.Synthesis.ClientId" value="371b841c-9729-4035-b0b5-a78fbc90fb10" />
    <add key="Guest.Synthesis.ClientSecret" value="secret" />
    <add key="Identity.Url" value="http://localhost:14819" />
    <add key="Identity.AccessTokenRoute" value="v1/oauth/access_token" />
    <add key="Configuration.Url" value="http://localhost:8090/configuration" />
  </appSettings>
</configuration>
